*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: black;
    background-size: 300px auto;
    background-position: left;
    background-repeat: repeat;
    animation: changeImage 20s infinite ease-in-out;
}
@keyframes changeImage {

    0% {
        background-image: url('../image/car1-removebg-preview (1).png');
    }
    20% {
        background-image: url('../image/watch2-removebg-preview.png');
    }
    40% {
        background-image: url('../image/watch1-removebg-preview.png');
    }
    60% {
        background-image: url('../image/car2-removebg-preview.png');
    }
    80% {
        background-image: url('../image/car2-removebg-preview.png');
    }
    100% {
        background-image: url('../image/watch2Image-removebg-preview.png');
    }

}
.register{
    justify-content: center;
}
#register-user {
    box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.8);
    background: whitesmoke;
    padding:100px;
    border-radius: 15px;
    width: 100%;
    max-width: 400px;
    margin: 30px auto;
}


#register-user label {
    align-items: center;
    color: black;
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
}

#register-user input {
    width: 220px;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 16px;

}

#register-user input:focus {
    outline: none;
    border-color: #4a90e2;
    box-shadow: 0 0 0 2px rgba(74, 144, 226, 0.2);
}

#register-user button {
    color: white;
    background-color: #4a90e2;
    border:none;
    text-decoration: none;
    padding: 10px;
    width: 100%;
    max-width: 400px;
    border-radius: 4px;
}

#register-user button:hover {
    transform: translateY(-3px);
    background-color: #0092ff;
}

#register-user select{
    width: 220px;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 16px;
}

#register-user select:focus{
    outline: none;
    border-color: #4a90e2;
    box-shadow: 0 0 0 2px rgba(74, 144, 226, 0.2);
}

.sign-up{
    margin-top: 20px;
    display: flex;
    color: black;
    text-align: center;
    font-size: 15px;
}

.sign-up-text a{
    text-decoration: None;
    color: blue;
}

#error-message{
    color: red;
    font-weight: bold;
    margin-bottom: 20px;
}

.logo{
    color: white;
    display:flex;
    font-weight: bolder;
    p{
        color: blue;
    }
}